@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/img/walpaper.png");
  background-size: cover;
  background-position: center;
} */

@layer components {
  .navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-80;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  }

  .hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-black rounded-lg;
  }

  .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
  }

  .hamburger-active > span:nth-child(2) {
    @apply scale-0;
  }

  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
  }
  .table {
    @apply pl-5 pt-20 pb-8 w-full bg-blue-700 overflow-auto border-l-2;
    height: 300px; /* Tambahkan tinggi */
  }
  .walpaper {
    color: rgb(var(--foreground-rgb));
    background-image: url("/img/walpaper.png");
    background-size: cover;
    background-position: center;
  }

  .dekstop-display {
    font-weight: 600;
    font-size: 80px;
    line-height: 97px;
    letter-spacing: -2.2%;
  }

  .dekstop-display-h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -2.2%;
  }

  .dekstop-display-h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2.2%;
  }

  .dekstop-display-h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1.9%;
  }

  .dekstop-display-h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1.7%;
  }

  .mobile-display {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -2.2%;
  }

  .mobile-display-h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -2.1%;
  }
  .mobile-display-h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1.9%;
  }
  .mobile-display-h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1.7%;
  }

  .body-text-sm-normal {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.6%;
  }

  .body-text-sm-medium {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.6%;
  }

  .body-text-sm-bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.6%;
  }

  .body-text-lg-normal {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -1.4%;
  }
  .body-text-lg-bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -1.4%;
  }

  .body-text-base-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1.1%;
  }

  .body-text-base-bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1.1%;
  }

  .body-text-base-normal {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1.1%;
  }

  .body-text-xs-normal {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
  }

  .body-text-xs-italic {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
  }

  .body-text-xs-bold {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
  }
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
